# Java and Package Files
*.class
*.jar
*.war
*.ear
hs_err_pid*
*.zip
*.tar.gz
*.rar

# OS Specific
.DS_Store
Thumbs.db

# Eclipse
.classpath
.project
.metadata/
/core/bin/
/desktop/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

# Android Studio and Intellij and Android in general
.idea/
*.ipr
*.iws
*.iml

# Gradle
/local.properties
.gradle/
gradle-app.setting
/build/
/core/build/
/desktop/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar